[Desktop Entry]
Type=Application
Exec=/usr/bin/ff-theme-util
Name=Firefox Theme Utility
Comment=Autocreate matching Firefox-theme symlinks 
Icon=applications-system
Terminal=false
Categories=System;
